@{
    ViewBag.Title = "TransferAmountReport";
    Layout = "~/Views/Master/UserLayout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Reward Point Report</h2>
    </header>

    <!-- start: page -->
    <div data-appear-animation="fadeInRight">
        <section class="panel" style="border: double;">
            <div class="panel-body">
                <h3 align="center"><span class="text-dark">Reward Point Report</span></h3>
                <hr />
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

                <script type="text/javascript">
                    google.charts.load('current', { packages: ['corechart', 'bar'] });
                    google.charts.setOnLoadCallback(drawAnnotations);

                    function drawAnnotations() {

                        var data = google.visualization.arrayToDataTable([
                          ['Task', 'Hours per Day'],
                              ['Reward Point',   @ViewBag.RewardPoint],
                              ['Transfer Reward Point',   @ViewBag.TransferRewardPoint]
                        ]);

                        var options = {
                            title: 'SurveyPro Reward Point Report',
                            'is3D': true,
                            'height': '400',
                            'width': '600'
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                    }
                </script>
                <div id="chart_div" style="height: auto" align="center"></div>
                <hr />
                <div class="text-center mr-lg" style="margin-left: 40px;">
                    <div class="text-Center mr-lg">
                        <a href="@Url.Action("Index", "Home", new { area = "User" })" id="btnSubmit"
                            class="mb-xs mt-xs btn btn-primary" style="text-align: center;">Back</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="header-logo">
                            <div style="text-align: center;">
                                <p>Powered By</p>
                            </div>
                            <div style="text-align: center;">
                                <img src="~/Contents/appimg/FullLogo.png"
                                    width="120" height="80"
                                    alt="Survey Pro" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end: page -->
</section>
