@{
    ViewBag.Title = "StateWiseUserReport";
    Layout = "~/Views/Master/EmployeeLayout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>State Wise User Report</h2>
    </header>

    <!-- start: page -->
    <div data-appear-animation="fadeInRight">
        <section class="panel" style="border: double;">
            <header class="panel-heading">
                <h2 class="panel-title" align="center">State Wise Report</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    @Html.Label("State", null, new { @class = "col-sm-3 control-label text-right" })
                    <div class="col-sm-6">
                        <div class="mb-md">
                            @using (Html.BeginForm("StateWiseUserReport", "Home", new { area = "Employee" }, FormMethod.Post))
                            {
                                @Html.DropDownList("ddlState", (SelectList)ViewBag.StateList, "- Select State -",
                            new { @class = "form-control mb-md", onchange = "this.form.submit();" })
                            }
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="~/Contents/assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>State Name</th>
                            <th class="center hidden-phone">User Status</th>
                        </tr>
                    </thead>
                    <tbody id="State">
                        @foreach (var item in ViewBag.StateWiseUserReport)
                        {
                            <tr class="gradeX">
                                <td style="padding-top: 3.5mm;">
                                    @item.UserName
                                </td>
                                <td style="padding-top: 3.5mm;">
                                    @item.StateName
                                </td>
                                <td style="padding-top: 3.5mm;" class="center hidden-phone">
                                    @{ var Status = item.IsActive;
                                       if (Status == true)
                                       {
                                        <a href="#" class="mb-xs mt-xs btn btn-success">Active</a>
                                       }
                                       else
                                       {
                                        <a href="#" class="mb-xs mt-xs btn btn-danger">InActive</a>
                                       }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr class="tell" />
                <div class="row">
                    <div class="header-logo">
                        <div style="text-align: center;">
                            <p>Powered By</p>
                        </div>
                        <div style="text-align: center;">
                            <img src="~/Contents/appimg/FullLogo.png"
                                width="120" height="80"
                                alt="Survey Pro" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end: page -->
</section>
