@model ProjSurveyPro.ClientMst
@{
    ViewBag.Title = "ClientDetails";
    Layout = "~/Views/Master/AdminLayout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Client Details</h2>
    </header>

    <!-- start: page -->
    <div data-appear-animation="fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel" style="border: double;">
                    <header class="panel-heading">
                        <h2 class="panel-title" align="center">Client Details</h2>
                    </header>
                    <div class="panel-body">
                        @Html.Partial("ClientDetailsPartial", Model)
                        <div class="row">
                            <div style="text-align: center;">
                                <br />
                                <a href="@Url.Action("Clients", "Home",
                            new { area = "Admin" })" class="mb-xs mt-xs btn btn-success" style="background-color:rgb(0, 148, 255)">Back</a>
                            </div>
                        </div>
                        <hr class="tell" />
                        <div class="row">
                            <div class="header-logo">
                                <div style="text-align: center;">
                                    <p>Powered By</p>
                                </div>
                                <div style="text-align: center;">
                                    <img src="~/Contents/appimg/FullLogo.png"
                                        width="120" height="80"
                                        alt="Survey Pro" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
