@{
    ViewBag.Title = "AboutSystem";
    Layout = "~/Views/Master/IndexLayout.cshtml";
}

<html>
    <body>
        <div role="main" class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="active">Overview</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>OVERVIEW</h1>
                    </div>
                </div>
            </div>
        </section>
        <div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog-posts">
                        <article class="post post-medium">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="post-image">
                                        <div class="owl-carousel owl-theme" data-plugin-options='{"items":1}'>
                                            <div>
                                                <div class="img-thumbnail">
                                                    <img src="~/Contents/appimg/blog/Survey.jpg"
                                                        class="img-responsive appear-animation","img-responsive"
                                                        data-appear-animation="bounceInLeft" 
                                                        data-appear-animation-delay="0" 
                                                        data-appear-animation-duration="2s" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="img-responsive appear-animation" 
                                        data-appear-animation="bounceInRight"
                                         data-appear-animation-delay="0" 
                                        data-appear-animation-duration="2s">
                                <div class="col-md-7">
                                    <div class="post-content">
                                        <h2><a href="blog-post.html">Surveys made easy</a></h2>
                                        <p align="justify">
                                            Create professional surveys in just a few minutes.
                                            Create your free accout and just login.
                                            Made easy and professional  Survey.
                                        </p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </article>

                        <article class="post post-medium">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="post-image">
                                        <div class="owl-carousel owl-theme" data-plugin-options='{"items":1}'>
                                            <div>
                                                <div class="img-thumbnail">
                                                    <img  src="~/Contents/appimg/blog/Reach.jpg" 
                                                        class="img-responsive appear-animation","img-responsive"
                                                         data-appear-animation="bounceInLeft" 
                                                        data-appear-animation-delay="0" 
                                                        data-appear-animation-duration="2s" alt="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="img-responsive appear-animation" 
                                        data-appear-animation="bounceInRight"
                                         data-appear-animation-delay="0" 
                                        data-appear-animation-duration="2s">

                                <div class="col-md-7">
                                    <div class="post-content">
                                        <h2><a href="blog-post.html">Reach Users and Client anytime, anywhere</a></h2>
                                        <p align="justify">For getting a review for a product client can keep any product any time and user can also review products anytine and form anywhere.</p>
                                    </div>
                                </div>
                                    </div>
                            </div>
                        </article>

                        <article class="post post-medium">
                            <div class="row">

                                <div class="col-md-5">
                                    <div class="post-image">
                                        <div class="owl-carousel owl-theme" data-plugin-options='{"items":1}'>
                                            <div>
                                                <div class="img-thumbnail">
                                                    <img  src="~/Contents/appimg/blog/QuestionAnswer.png" 
                                                        class="img-responsive appear-animation","img-responsive"
                                                         data-appear-animation="bounceInLeft" 
                                                        data-appear-animation-delay="0" 
                                                        data-appear-animation-duration="2s" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="img-responsive appear-animation" 
                                        data-appear-animation="bounceInRight"
                                         data-appear-animation-delay="0" 
                                        data-appear-animation-duration="2s">

                                <div class="col-md-7">
                                    <div class="post-content">
                                        <h2><a href="blog-post.html">Ask right questions get right answers</a></h2>
                                        <p align="justify">
                                            From simple to advanced, we have all the Answer types you need to generate meaningful feedback 4 Answer types Image and video support Helping question
                                        </p>
                                    </div>
                                </div>
                                    </div>
                            </div>
                                 </article>
                                <article class="post post-medium">
                            <div class="row">

                                <div class="col-md-5">
                                    <div class="post-image">
                                        <div class="owl-carousel owl-theme" data-plugin-options='{"items":1}'>
                                            <div>
                                                <div class="img-thumbnail">
                                                    <img class="img-responsive appear-animation","img-responsive"
                                                         data-appear-animation="bounceInLeft" 
                                                        data-appear-animation-delay="0" 
                                                        data-appear-animation-duration="2s" alt=""
                                                        src="~/Contents/appimg/blog/Analysis.jpg" alt="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="img-responsive appear-animation" 
                                        data-appear-animation="bounceInRight"
                                         data-appear-animation-delay="0" 
                                        data-appear-animation-duration="2s">


                                    <div class="col-md-7">
                                        <div class="post-content">
                                            <h2><a href="blog-post.html">Reporting and Analysis</a></h2>
                                            <p>
                                                We Provide Product Survey Reporting.                                   
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </body>
</html>
