@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Master/IndexLayout.cshtml";
}

<html>
<body>
    <div role="main" class="main">

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Pages</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>FAQ</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <h2>Frequently Asked <strong>Questions</strong></h2>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="toggle toggle-primary" data-plugin-toggle>
                        <section class="toggle active">
                            <label>Is it necessary to register for viewing or rating the products?</label>
                            <p>- It not necessary to register if you are just viewing the product and its reviews and rating. However, yes, it is necessary if you are reviewing answer rating the product.</p>
                        </section>

                        <section class="toggle">
                            <label>Is it necessary to register for any Company to register for getting reviews?</label>
                            <p>Yes, by registering only you can purchase packages for posting your products on our site.</p>
                        </section>

                        <section class="toggle">
                            <label>What are the type of packages Company can purchase?</label>
                            <p>Well that depends on the client how many products the client wants to post for getting reviews. Different Client have different type of package requirement. So we have provided four different packages for the clients "Basic", "Silver", "Gold", "Platinum".</p>
                        </section>

                        <section class="toggle">
                            <label>Are all the reviews that are posted true for the product?</label>
                            <p>Yes, all the reviews that are been posted by the Users are true according to their perspective. In addition, if any irrelevant reviews are posted we will delete the them.</p>
                        </section>

                        <section class="toggle">
                            <label>If any changes are required in the product. Can it be done?</label>
                            <p>If the changes that the user wants in the product are acceptable than it will be definitely done by the client. The change any user wants in the product can be posted as a review.</p>
                        </section>

                        <section class="toggle">
                            <label>How redeem points can be converted to Digital Money?</label>
                            <p>After collecting some predefined Points that are set by us the points can be converted into Digital Money and that can be transferred into your PayTm or PayPal account.</p>
                        </section>

                        <section class="toggle">
                            <label>How the redeem points are given?</label>
                            <p>According to the User's survey the redeem points are given to them.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

