@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Master/IndexLayout.cshtml";
}

<html>
<body>

    <div role="main" class="main">

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="active">Our Service</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Our Service</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <h2 class="heading-primary">Premium <strong>Features</strong></h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Customer Support</h4>
                            <p class="tall" align="justify">
                                User can survey and review the product they are searching for. They can also give their feedback for the product.
                            </p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">About Products</h4>
                            <p class="tall" align="justify">Users can view the products and can give their reviews to the product and can rate the product.</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-industry"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Client Support</h4>
                            <p class="tall" align="justify">Client can keep their product for getting reviews from the User's.</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Analysing of Survey and Review</h4>
                            <p class="tall" align="justify">Analysing of survey and review done by the users can help in understanding the user what products they are searching most probably and rating and reviewing the product.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Analysing results in Charts</h4>
                            <p class="tall" align="justify">Analysing of Survey and Review of the product can help Client's to get better view of the products.</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-table"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Analysing results in Grids</h4>
                            <p class="tall" align="justify">Analysing of survey and review of the product can help Clients to get better Result of the products.</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="heading-primary mb-none">Redeem points</h4>
                            <p class="tall" align="justify">User can rate and review the product and can get points according to their survey which can be converted to Digital money and can be redeemed through PayTm or PayPal.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h2 class="heading-primary">Our <strong>Services</strong></h2>
            <div class="row">
                <div class="col-md-10">
                    <p class="tall" align="justify">
                        E-Marketing & Review System acts as a Standalone Services. 
                        The objective of the "E-marketing & Reviews" to product marketing and take the Survey & reviews from user.
                        If any negative reviews arrive then make improvement, 
                        those issues and find out the best possible solutions for the product.
                        First for Client select the one Package.he pay for selecting any kind of Package 
                        and they upload any Products for Survey.Client Also Payment  for particular Product Survey.
                    </p>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("ReachUs", "Home")" 
                    class="btn btn-lg btn-primary mt-xl pull-right">Reach Us!
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

